{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "react/no-danger": "off",
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "hrefLeft", "hrefRight", "to" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["Assets", "./static/assets"],
          ["Config", "./config"],
          ["Posts", "./src/posts"],
          ["Components", "./src/components"],
          ["Pages", "./src/pages"],
          ["Layouts", "./src/layouts"],
          ["Utils", "./src/utils"],
          ["Context", "./src/context"]
        ],
        "extensions": [".js", ".jsx", ".json", ".less", ".md", ".mdx", ".html"]
      }
    }
  },
  "env": {
    "browser": true,
    "es6": true
  }
}